<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <h2>Chat Room</h2>
        <div id="chat-window"></div>
        <form id="message-form">
            <input type="text" id="message-input" placeholder="Type your message here..." autocomplete="off" required>
            <button type="submit">Send</button>
        </form>
    </div>
    <script>
        var username = {{ username|tojson }};
    </script>
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js" integrity="sha384-fqq9ZaHzvb4aSm4t4E2Q2bKrdcKXHDkUExKYWlC8I6H3xwhe2DKdkIf7EEiRZ+c4" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
